

                  <article class="panel panel-default" [ngStyle]="{backgroundColor: color}" (mouseenter)="color = 'green'">
                        <div class="panel-body">
                              <a href="{{song.url}}" target="blank">{{song.title}}</a> - {{song.artist}} - {{song.keySignature}}
                        </div>
                        <footer class="panel-footer">
                              <div class="author">
                                    {{song.username}} - {{song.group}}
                              </div>
                              <div class="config">
                                    <a (click)="onEdit()" >Edit</a>
                                    <a (click)="onDelete()">Delete</a>
                              </div>
                        </footer>
                  </article>